<div class="border-b-2 border-b-gray-300 py-5  flex items-center justify-between">
    <label class="font-fredoka text-xl">Enregistrer une vente</label>

    <button matDialogClose>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </button>
</div>

<form #venteForm="ngForm" class="my-5 grid grid-cols-2 gap-5">
    <label class="col-span-2">Informations du produit</label>

    <div class="col-span-2">
        <textarea ngModel #description="ngModel" name="description" class="border border-gray-300 w-full rounded hover:border-primary focus:ring focus:ring-primary duration-300 p-3 placeholder:text-gray-500" placeholder="Description du produit" required></textarea>
        @if (description.invalid && description.touched) {
            <small class="text-red-500">Ce champ est requis</small>
        }
    </div>

    <div>
        <input type="number" min="0" ngModel #prix="ngModel" name="prix" class="border border-gray-300 w-full rounded hover:border-primary focus:ring focus:ring-primary duration-300 p-3 placeholder:text-gray-500" placeholder="Prix unitaire" required>
        @if (prix.invalid && prix.touched) {
            <small class="text-red-500">Ce champ est requis</small>
        }
    </div>

    <div>
        <input type="number" min="0" ngModel #quantite="ngModel" name="quantite" class="border border-gray-300 w-full rounded hover:border-primary focus:ring focus:ring-primary duration-300 p-3 placeholder:text-gray-500" placeholder="Quantité" required>
        @if (quantite.invalid && quantite.touched) {
            <small class="text-red-500">Ce champ est requis</small>
        }
    </div>

    <label class="col-span-2">Informations du produit</label>

    <div>
        <input type="text" ngModel #nomClient="ngModel" name="nomClient" class="border border-gray-300 w-full rounded hover:border-primary focus:ring focus:ring-primary duration-300 p-3 placeholder:text-gray-500" placeholder="Nom du client" required>
        @if (nomClient.invalid && nomClient.touched) {
            <small class="text-red-500">Ce champ est requis</small>
        }
    </div>

    <div>
        <input type="text" ngModel #phoneClient="ngModel" name="phoneClient" class="border border-gray-300 w-full rounded hover:border-primary focus:ring focus:ring-primary duration-300 p-3 placeholder:text-gray-500" placeholder="Téléphone du client" required>

        @if (phoneClient.invalid && phoneClient.touched) {
            <small class="text-red-500">Ce champ est requis</small>
        }
    </div>

    <div class="col-span-2">
        <textarea ngModel #adresseClient="ngModel" name="adresseClient" class="border border-gray-300 w-full rounded hover:border-primary focus:ring focus:ring-primary duration-300 p-3 placeholder:text-gray-500" placeholder="Adresse du client" required></textarea>
        @if (adresseClient.invalid && adresseClient.touched) {
            <small class="text-red-500">Ce champ est requis</small>
        }
    </div>

    @if (errors) {
        <small class="text-red-500 block">{{ errorMessage }}</small>
    }

    <div>
        @if (loader) {
            <button class="cursor-not-allowed bg-primary-300 rounded-lg text-white flex justify-center py-4 px-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 animate-spin">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </button>
        } @else {
        <button (click)="addVente(venteForm.value)" class="bg-primary px-3 py-2 rounded text-white hover:bg-primary-700 disabled:bg-primary-400 disabled:cursor-not-allowed duration-300">Enregistrer</button>
        }
    </div>
</form>
