<div class="w-full h-full grid gap-10 p-5">
    <!-- Cards -->
    @if (stats) {
        <div class="grid w-fit justify-center md:min-w-full grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">
            <!-- Recettes du jour -->
            <div class="bg-card flex flex-auto gap-4 flex-col overflow-hidden rounded-2xl p-6 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate text-lg font-medium leading-6 tracking-tight">
                        Recettes du jour
                    </div>
                </div>
                <div class="mt-2 flex flex-col gap-2 items-center">
                    <div class="text-3xl font-bold leading-none tracking-tight text-blue-500 sm:text-6xl md:text-2xl lg:text-5xl">
                        {{ stats.today.total | currency:'XOF':'symbol':'1.0-0':'fr-FR' }}
                    </div>
                    <div class="text-lg font-medium text-blue-600 dark:text-blue-500">
                        Ventes
                    </div>
                    <div class="text-secondary mt-5 flex w-full items-baseline justify-center">
                        <div class="truncate text-md font-medium">
                            Totales du jour:
                        </div>
                        <div class="ml-1.5 text-lg font-semibold">
                            {{ stats.today.count }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recettes de la semaine -->
            <div class="bg-card flex flex-auto gap-4 flex-col overflow-hidden rounded-2xl p-6 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate text-lg font-medium leading-6 tracking-tight">
                        Recettes de la semaine
                    </div>
                </div>
                <div class="mt-2 flex flex-col gap-2 items-center">
                    <div class="text-3xl font-bold leading-none tracking-tight text-red-500 sm:text-6xl md:text-2xl lg:text-5xl">
                        {{ stats.thisWeek.total | currency:'XOF':'symbol':'1.0-0':'fr-FR' }}
                    </div>
                    <div class="text-lg font-medium text-red-600 dark:text-red-500">
                        Ventes
                    </div>
                    <div class="text-secondary mt-5 flex w-full items-baseline justify-center">
                        <div class="truncate text-md font-medium">
                            Totales de la semaine:
                        </div>
                        <div class="ml-1.5 text-lg font-semibold">
                            {{ stats.thisWeek.count }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recettes du moins -->
            <div class="bg-card flex flex-auto gap-4 flex-col overflow-hidden rounded-2xl p-6 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate text-lg font-medium leading-6 tracking-tight">
                        Recettes du mois
                    </div>
                </div>
                <div class="mt-2 flex flex-col gap-2 items-center">
                    <div class="text-3xl font-bold leading-none tracking-tight text-amber-500 sm:text-6xl md:text-2xl lg:text-5xl">
                        {{ stats.thisMonth.total | currency:'XOF':'symbol':'1.0-0':'fr-FR' }}
                    </div>
                    <div class="text-lg font-medium text-amber-600 dark:text-amber-500">
                        Ventes
                    </div>
                    <div class="text-secondary mt-5 flex w-full items-baseline justify-center">
                        <div class="truncate text-md font-medium">
                            Totales du mois:
                        </div>
                        <div class="ml-1.5 text-lg font-semibold">
                            {{ stats.thisMonth.count }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recettes de l'année -->
            <div class="bg-card flex flex-auto gap-4 flex-col overflow-hidden rounded-2xl p-6 shadow">
                <div class="flex items-start justify-between">
                    <div class="truncate text-lg font-medium leading-6 tracking-tight">
                        Recettes de l'année
                    </div>
                </div>
                <div class="mt-2 flex flex-col gap-2 items-center">
                    <div class="text-3xl font-bold leading-none tracking-tight text-green-500 sm:text-6xl md:text-2xl lg:text-5xl">
                        {{ stats.thisYear.total | currency:'XOF':'symbol':'1.0-0':'fr-FR' }}
                    </div>
                    <div class="text-lg font-medium text-green-600 dark:text-green-500">
                        Ventes
                    </div>
                    <div class="text-secondary mt-5 flex w-full items-baseline justify-center">
                        <div class="truncate text-md font-medium">
                            Totales de l'année:
                        </div>
                        <div class="ml-1.5 text-lg font-semibold">
                            {{ stats.thisYear.count }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    } @else {
        <app-loader/>
    }

    <!-- Charts -->
    @if (days) {
        <div class="h-fit rounded-lg shadow-lg">
            @if (chartOptions) {
                <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis"
                    [yaxis]="chartOptions.yaxis"
                    [colors]="chartOptions.colors">
                </apx-chart>
            }
        </div>
    } @else {
        <app-loader/>
    }

    <!-- Last sells -->
    @if (ventes) {
        <div class="rounded-lg h-fit p-5 grid gap-5 shadow-lg">
            <div class="flex justify-between items-center text-xl">
                <label class="font-fredoka">Dernières ventes</label>
                <div class="flex gap-5">
                    <button routerLink="/home/ventes" class="text-primary px-3 py-2 font-bold duration-300 rounded-lg hover:bg-primary hover:text-white">Voir toutes les ventes</button>
                    <button (click)="exportToExcel()" class="text-primary px-3 py-2 duration-300 rounded-lg hover:bg-primary hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                        </svg>
                    </button>
                </div>
            </div>
            <table id="last-vente" class="table-auto w-full border-separate border-spacing-y-3">
                <thead class="bg-primary text-white">
                <tr>
                    <th class="py-3 rounded-l-lg">Numéro</th>
                    <th class="py-3">Description</th>
                    <th class="py-3">Prix unitaire</th>
                    <th class="py-3">Quantité</th>
                    <th class="py-3">Montant total</th>
                    <th class="py-3">Date de vente</th>
                    <th class="py-3 rounded-r-lg">Client</th>
                </tr>
                </thead>
                <tbody>
                    @for (item of ventes; track item) {
                        <tr class="text-center">
                            <td>{{ item.numero }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.prix | currency:'XOF':'symbol':'1.0-0':'fr-FR' }}</td>
                            <td>{{ item.quantite }}</td>
                            <td>{{ item.prixTotal | currency:'XOF':'symbol':'1.0-0':'fr-FR' }}</td>
                            <td>{{ item.dateCreation | date: 'dd-MM-YYYY' }}</td>
                            <td>{{ item.nomClient }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    } @else {
        <app-loader/>
    }
</div>
