<!-- header -->
<!--<div class="flex justify-between items-center">
    <label class="font-fredoka">Détails de la vente</label>
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </button>
</div>-->

<!-- Details -->
<!--<div class="my-10 text-lg">
    <label class="font-fredoka">Facture: {{ item.numero }}</label>
</div>

<div class="grid grid-cols-2">
    <div class="grid gap-2">
        <label class="font-bold">Client</label>
        <label>{{ item.nomClient }}</label>
        <label>{{ item.phoneClient }}</label>
        <label>{{ item.adresseClient }}</label>
    </div>

    <div class="grid gap-2 text-right">
        <label class="font-bold">Client</label>
        <label>{{ item.nomClient }}</label>
        <label>{{ item.phoneClient }}</label>
        <label>{{ item.adresseClient }}</label>
    </div>
</div>-->

<div id="invoice" class="max-w-3xl mx-auto p-6 h-1/2 bg-white shadow-lg rounded-lg text-sm">
    <div class="flex justify-between items-center mb-8">
        <div>
            <h1 class="text-xl font-bold text-gray-800">SAMAVENTE</h1>
            <p class="text-gray-500">Vente N°: {{ item.numero }}</p>
            <p class="text-gray-500">Date: {{ item.dateCreation | date: 'dd/MM/yyyy' }}</p>
        </div>
        <div class="text-right">
            <p class="font-semibold text-gray-800">Client</p>
            <p class="text-gray-600">{{ item.nomClient }}</p>
        </div>
    </div>

    <div class="border-t border-b py-4 mb-6">
        <table class="w-full text-left">
            <thead>
            <tr class="text-gray-700 uppercase text-xs border-b">
                <th class="py-2">Désignation</th>
                <th class="py-2 text-center">PU</th>
                <th class="py-2 text-center">Qté</th>
                <th class="py-2 text-right">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-gray-800" *ngFor="let p of item.produits">
                <td class="py-2">{{ p.nom }}</td>
                <td class="py-2 text-center">{{ p.prix | currency: 'XOF':'symbol':'1.0-0' }}</td>
                <td class="py-2 text-center">{{ p.quantite }}</td>
                <td class="py-2 text-right">{{ (p.prixTotal) | currency: 'XOF':'symbol':'1.0-0' }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-right">
        <p class="text-gray-700 font-semibold">Montant total:</p>
        <p class="text-lg font-bold text-gray-800">{{ item.montant | currency: 'XOF':'symbol':'1.0-0' }}</p>
    </div>

    <div class="mt-6 text-xs text-gray-500 text-center">
        Merci pour votre confiance. Facture générée par Samavente.
    </div>
</div>

<button (click)="generatePDFPreview()">Télécharger en PDF</button>
